{% extends 'base.html.twig' %}

{% block body %}
    <h1>Booking list</h1>
    <div class="container">
        <div class="row">

            <table width="100%" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>startDate</th>
                        <th>endDate</th>
                        <th>createdat</th>
                        <th>updatedat</th>
                        <th>price</th>
                        <th>bookingCode</th>

                    </tr>
                </thead>
                <tbody>
                {% for bookRoom in bookingList %}
                    <tr>
                        <td>{{ bookRoom.startDate | date("D/M/Y H:i:s") }}</td>
                        <td>{{ bookRoom.endDate  | date("D/M/Y  H:i:s") }}</td>
                        <td>{{ bookRoom.createdat  | date("D/M/Y  H:i:s") }}</td>
                        <td>{{ bookRoom.updatedat  | date("D/M/Y  H:i:s") }}</td>
                        <td>{{ bookRoom.price }}</td>
                        <td>{{ bookRoom.bookingCode}}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
