
<h3>You did it!</h3>

Hi {{ name }}!, You successfully booked your room.

<br/><br/><br/>
<h3>Here is your room information:</h3>

<li>Reservation code: {{ reservationCode }}</li>
<li>Date start: {{ startDate|date('d/m/Y H:i') }}</li>
<li>Date end: {{ endDate|date('d/m/Y H:i') }}</li>
<li>Total price: {{ price }} €</li>
<br/><br/><br/>
To check your reservation information, go to: <a href="{{ url('bedroom_index') }}">Link</a>.
<br/><br/><br/>

Thanks!
